body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
table {
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
th {
    background-color: #6699cc;
    color: white;
}
img {
    width: 100%;
    height: auto;
}